body{
    margin: 0%;
    font-family: Afacad;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: #4490b4;
    padding: 40px;
}
.login-contanier{
    width: 40%;
    border-radius: 20px;
    padding: 20px;
    height: 700px;
    background: #FFFFFF50;
    backdrop-filter: blur(50px);

}
.login-contanier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.login-contanier__other__login{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.login-contanier__other__login > form > button > img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.login-contanier__other__login > form > button{
    border-radius:10px ;
    border: none;
    background-color: #ffff;
    cursor: pointer;
}
.login-contanier__buttons > input{
    width: 100%;
    height: 55px;
    border-radius: 20px;
    border: #8E8E8E;
}
.login-contanier__buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.login-contanier__login{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
}
.login-contanier__buttons > button{
    cursor: pointer;
    border: none;
    font-weight: lighter;
    font-size: 20px;
    border-radius:20px ;
    height: 70px;
    width: 100%;
    background: #4349FF;
    color: #ffff;
}
.Header-login-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 890px) {
    .login-contanier__login > span{
        font-size: 30px;
    }
    .login-contanier__buttons > button{
        font-size: 20px;
        height: 30px;
    }
    .login-contanier{
        width: 100%;
    }
    .login-contanier__buttons{
        width: 100%;
    }
  }

  @media (max-width: 511px) {
    .login-contanier__login > span{
        font-size: 20px;
    }
    .login-contanier__buttons > button{
        font-size: 10px;
        height: 20px;
    }
    .login-contanier__buttons > button{
        font-size: 20px;
        height: 30px;
    }
    .login-contanier{
        width: 100%;
    }
    .login-contanier__buttons{
        width: 100%;
    }
  }
  
  