<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdSphere</title>
    <link rel="icon" href="{{url_for('static',filename ='./imgs/icon.ico' )}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename ='./styles-profile.css' )}}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "content">

        <div class = "left-menu">

            <div class="button-contanier-head">
                <form action="/">
                    <button class="button-contanier">
                        <img class="img-cont" src="{{  url_for('static',filename = 'imgs/compass-d.png')}}" alt="">
                        <p>Home</p>
                    </button>
                </form>
                
                <form action="/favorite">
                    <button class="button-contanier">
                        <img class="img-cont" src=" {{ url_for('static',filename = 'imgs/fav.png')}}" alt="">
                        <p class="button-cont">Favorite</p>
                    </button>
                </form>
                
                <form action="/search">
                    <button class="button-contanier">
                        <img class="img-cont" src="{{ url_for('static',filename = 'imgs/search.png')}}" alt="">
                        <p class="button-cont">Search</p>
                    </button>
                </form>
                
    
                
            </div>
            

            <form class="button-contanier-bottom" action="/profile">
                <button class="button-contanier">
                    <img class="img-cont" src="{{ url_for('static',filename = 'imgs/profile.png')}}" alt="">
                    <p class="button-cont">Profile</p>
                </button>
            </form>



        </div>
        <div class = "right-menu">
            <div class="header">
                <form class="header-search" action="/">
                    <button class="header-search__button"><h1>AdSphere</h1></button>
                </form>
                <div class="header-profile">
                    <form action="/sign">
                        <button id = "button-sign">Sign Up</button>
                    </form>
                    <form action="/login">
                        <button id = "button-log">Log In</button>
                    </form>
                    
                    
                   
                    <form class="profile-header-cont" action="/profile">
                        <button id = "button-profile"></button>
                        <span> Your Name</span>
                    </form>
                    
                   
                </div>
            </div>
            <div class="body-cont">
                <div class="body-left-menu">
                    <img class = "carosel-body "src="{{ url_for('static',filename = 'imgs/bloggers.png')}}" alt="">
                    
                    
                
                    
                    <div class="result-profile-body">
                        <div class="profile-content">
                            <div class="blogger-profile-left">
                                
                                
                                <h2 class="user_name">User</h2>
                                <span>user_@mail</span>
                                <span>Information</span>
                            </div>
                        </div>
                        
                        
                    </div>
                    
                </div>
                
            </div>

        </div>
    </div>
    
</body>
</html>